:root {
  color-scheme: light dark; /* both supported */
    --text-color: #222;
    --background-color: #fff;
    --link-color: #809fff;
    --code-background-color: #C4C4C4;
    --font-weight: 400;
    --hidden-color: #7a7a7a;
    --table-border: black;
}

body {
    --text-color: #222;
    --background-color: #fff;
    --link-color: #809fff;
    --code-background-color: #C4C4C4;
    --font-weight: 400;
    --hidden-color: #7a7a7a;
    --table-border: black;
}

body.light-mode {
    --text-color: #222;
    --background-color: #fff;
    --link-color: #809fff;
    --code-background-color: #C4C4C4;
    --font-weight: 400;
    --hidden-color: #7a7a7a;
    --table-border: black;
}

body.dark-theme {
    --text-color: #eee;
    --background-color: #121212;
    --link-color: #809fff;
    --code-background-color: #7a7a7a;
    --font-weight: 300;
    --hidden-color: #C4C4C4;
    --table-border: #7a7a7a;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body { 
    --text-color: #eee;
    --background-color: #121212;
    --link-color: #809fff;
    --code-background-color: #7a7a7a;
    --font-weight: 300;
    --hidden-color: #C4C4C4;
    --table-border: #7a7a7a;
  }
  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    --text-color: #222;
    --background-color: #fff;
    --link-color: #809fff;
    --code-background-color: #C4C4C4;
    --font-weight: 400;
    --hidden-color: #7a7a7a;
    --table-border: black;
  }
}

body{
    font-family: 'Coda';
    margin: 0px;
    color: var(--text-color);
    background-color: var(--background-color);
}
nav {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100px;
  position: fixed;
  z-index: 1;
  top: 0px;
  background-color: #6AABF0;
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  height: 100px;
}
/*Giving our li-nav  a background and height-space*/
nav li {
  flex: 1;
  background-color: #6AABF0;
  transition:all .2s ease;
}

/*Making the li's inside of our navbar interactive with color change and padding/margin*/
nav li:hover {
  flex:1.1;
  transition:all .2s ease;
  background: #B45914;
}
/*Styling and sizing our link/letters while giving them a block-level, 'click' ability*/
nav a {
  display: block;
  position: relative;
  text-decoration: none;
  color: black;
  padding: 23px;
  margin: auto;
  font-size: 32px;
  font-size: calc(12px + (32 - 12) * ((100vw - 720px) / (2560 - 720)));
}

nav .active {
  color: white;
}
/*Giving the middle, border-lines a color and size
.navigation li:not(:first-child){
	border-left: 2px solid #ecf0f1;
}*/
/* footer */
footer{
   position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #a3a3a3;
   color: black;
   text-align: center;
   font-size: 16px;
   font-size: calc(10px + (18 - 10) * ((100vw - 720px) / (2560 - 720)));
   line-height: 24px;
   line-height: calc(18px + (26 - 18) * ((100vw - 720px) / (2560 - 720)));
}
footer a{
    display:inline;
    color: black;
}
.footer{
    display: inline;    
}

h2{
    text-align: center;
}


/* Fixed sidenav, full height */
.sidenav {
  height: calc(100% - 142.5px);
  width: 7%;
  position: fixed;
  z-index: 2;
  top: 100px;
  /*left: 148px;*/
  background-color: #cce0f6;
  overflow-x: hidden;
  padding-top: 20px;
  
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn, .sidenav-btn {
  padding: 6px 8px 6px 6px;
  text-decoration: none;
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-size: calc(14px + (22 - 14) * ((100vw - 720px) / (2560 - 720)));
  color: black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-btn, .sidenav-btn {
  font-size: 20px;
  font-size: calc(14px + (22 - 14) * ((100vw - 720px) / (2560 - 720)));
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #B45914;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  font-size: calc(14px + (22 - 14) * ((100vw - 720px) / (2560 - 720)));
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.sidenav .active {
  background-color: #6AABF0;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #86c0ff;
  padding-left: 8px;
  padding-right: 5px;
  overflow-wrap: break-word;
}

.dropdown-container a {
  margin-right: 2px;
}

.dropdown-container .active {
  color: white;
}

/* Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
/* makes logo spin when hovering over */
.logo {
  transition: transform .7s ease-in-out;
  width: 100px; 
  height: 100px;
}
.logo:hover {
  transform: rotate(360deg);
}

.gearMonke {
  transition: transform .7s ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px; 
  height: 200px;
}
.gearMonke:hover {
  transform: rotate(360deg);
}

.page {
  width: 100%;
  font-family: 'Roboto';
  font-weight: var(--font-weight);
  font-size: 18px;
  font-size: calc(12px + (20 - 12) * ((100vw - 720px) / (2560 - 720)));
  display: inline-block;
  float: right;
  margin-left: auto;
  margin-right: auto;
  padding-top: 110px;
  padding-bottom: 110px;
  text-align: center;
}

.pagecontent {
  width: 60%;
  margin: 0px auto;
  padding-left: auto;
  padding-right: auto;
  text-align: left;
  line-height: 2em;
}

.breadcrumbs {
  font-size: 14px;
  font-size: calc(8px + (14 - 8) * ((100vw - 720px) / (2560 - 720)));
  float: left;
  margin-left: 190px;
  color: var(--text-color);
  background-color: var(--background-color);
}

code {
  color: #FC6F03;
  background-color: var(--code-background-color);
  border: 1px solid #727272;
  padding: 2.5px 5px;
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 18px;
  font-size: calc(12px + (20 - 12) * ((100vw - 720px) / (2560 - 720)));
  text-align: left;
  display: inline-block;
  width: auto;
  line-height: normal;
}

strong {
  font-size: calc(1em + 2px);
  text-decoration: underline;
}

h1 {
  margin-top: 50px;
  font-size: 40px;
  font-size: calc(26px + (42 - 26) * ((100vw - 720px) / (2560 - 720)));
}

.hidden {
  border: 0px solid var(--table-border);
  background-color: var(--hidden-color);
}

table, th, td {
  border: 1px solid var(--table-border);
  border-collapse: collapse;
  text-align: center;
}

a {
  color: var(--link-color);
}

/* AboutPage CSS*/
 .head{
        margin-top: 100px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 150px;
        margin-right: 150px;
    }
    .center{
        display: flex;
        align-items: center;
            justify-content: center;
    }
    .Contain{
        position: relative;
        width: 1000px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap:wrap;
    }
    .Contain .card{
        position: relative;
        max-width: 450px;
        background: #86c0ff;
        margin: 10px;
        padding: 15px;
        display: flex;
    }
    .Contain .card .imgBx{
        width: 150px;
        flex: 0 0 150px;
    }
    .Contain .card .imgBx img {
        max-width: 100%;
    }
    .Contain .card .content{
        margin-left: 20px;
    }
    
    @media (max-width: 991px){    
        .Contain{
            flex-direction: column;
        }
    }
    @media (max-width: 768px){    
        .Contain{
            flex-direction: column;
        }
        .Contain .card{
            flex-direction: column;
            max-width: 350px;
        }
        .Contain .card .imgBx{
            max-width: 100%;
        }
        .Contain .card .content{
            margin-left: 0px;
        }
    }
   /* end of about*/















@media only screen and (max-width: 1204px) {
  nav, nav ul {
    height: 80px;
  }
  .logo {
    height: 80px;
    width: 80px;
  }
  .sidenav {
    height: calc(100% - 123px);
    top: 80px;
  }

  .sidenav a, .dropdown-btn, .sidenav-btn {
  padding: 6px 8px 6px 6px;
}
}

@media only screen and (max-width: 834px) {
  .sidenav {
    width: 100px;
  }
}

